body {
  @apply bg-[#0A0F1B] text-[#F5F5F5];
}
a, button {
  @apply text-[#005DC4] hover:text-[#3381D9] transition;
}
html, body, #root {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}